*{
    box-sizing: border-box;
}
body{
    background-color: #05cba7;
    font-family: Arial, Helvetica, sans-serif;
}
.card__container{
    max-width: 500px;
    
    margin: 0 auto;
}
.location{
    font-size: 14px;
    padding-left: 5px;
}
.nav{
    width: 16px;
    height: 16px;
}
.logo__netw{
    width: 30px;
    height: 30px;
}
.loc{
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
}
.card__top{
    background-color: white;
    border-radius: 10px 10px 0 0;
    padding: 30px 25px 10px 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card__info{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.user__photo-cont{
    width: 270px;
    height: 270px;
    border: 1px solid rgb(245, 244, 244);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 5px -5px #333
}
.user__photo{
    width: 250px;
    height: 250px;
    background-image: url(../images/userphoto.jpg);
    border-radius: 50%;
    background-size: cover;
    background-position: center;
}
.user__name{
    font-size: 35px;
    font-weight: 400;
    margin-top: 25px;
}
.card__content{
    font-size: 14px;
    text-align: center;
    padding: 0 35px;
    margin-top: 20px;
    line-height: 1.2;
}
.btn{
    background-color: #66b4ff;
    border-radius: 5px;
    color: white;
    font-size: 22px;
    padding: 15px 45px;
    margin-top: 40px;
    margin-bottom: 20px;
    box-shadow: 0 5px 5px -5px #333
}
.card__footer{
    background-color: #335477;
    border-radius: 0 0 10px 10px;
    display: flex;
}
.footer__element{
    padding: 25px;
    display: flex;
    flex: 1 1 auto;  
}
.footer__element + .footer__element{
    border-left: 1px solid grey;
}
.footer__element-text{
    margin-left: 10px;
}
h2{
    color: rgb(199, 100, 82);
}
h3{
    color: rgb(179, 174, 174);
}